[class*='col-'] {
  text-align: center;
  line-height: 170px;
  padding: 10px;
}

.container > .col-6 > .container > .col-2 {
  height: 150px;
  line-height: 150px;
  background-color: #f08080;
  border: 1px solid #ffffff;
}

.container > .col-6 > .container >  .col-6 {
  height: 150px;
  line-height: 150px;
  background-color: #f08080;
  border: 1px solid #ffffff;
}

.container > .col-6 > .container >  .col-8 {
  height: 150px;
  line-height: 150px;
  background-color: #f08080;
  border: 1px solid #ffffff;
}
