[class*='col-'] {
  height: 170px;
  background-color: #fec0cb;
  border: 1px solid #000000;
  text-align: center;
  line-height: 170px;
  padding: 10px;
}

[class*='col-'] > .container {
  height: 150px;
  line-height: 150px;
}

[class*='col-'] > .container  >  [class*='col-'] {
  height: 150px;
  line-height: 150px;
  background-color: #f08080;
  border: 1px solid #ffffff;
}